<%= render partial: 'errors' %>

<h3>Choose the labels you want to have on the "<%= @case.subject %>" case (ID: <%= @case.id %>):</h3>

<%= simple_form_for @case_model, method: :patch do |f| %>
  <%= hidden_field_tag :filter_id, params[:filter_id].to_s %>
  <p>
    <%= f.input :id, as: :hidden, input_html: { value: @case.id } %>
    <%= f.input :labels, label: "", as: :check_boxes, collection: @labels, selected: @case.labels.entries, value_method: :name %>
  </p>
  <br>
  <%= f.submit "Update Labels" %>
<% end %>

<h3><%= link_to "Back to Cases", cases_path(filter_id: params[:filter_id]) %></h3>
